*
!.gitignore
!.nojekyll
!rio-preto-shopping/
!rio-preto-shopping/index.html
!rio-preto-shopping/assets/
!rio-preto-shopping/assets/**
!comunic/
!comunic/index.html
!comunic/assets/
!comunic/assets/**
!fabrica-landing-page/
!fabrica-landing-page/*.md
!bella-capri/
!bella-capri/index.html
!bella-capri/assets/
!bella-capri/assets/**
!alexakis/
!alexakis/index.html
!alexakis/assets/
!alexakis/assets/**
!sistema-demo/
!sistema-demo/index.html
!sistema-demo/assets/
!sistema-demo/assets/**
!demo-varejo/
!demo-varejo/index.html
!demo-varejo/assets/
!demo-varejo/assets/**
!demo-gastronomia/
!demo-gastronomia/index.html
!demo-gastronomia/assets/
!demo-gastronomia/assets/**
!premia-flow/
!premia-flow/index.html
!premia-flow/assets/
!premia-flow/assets/**
