*
!.gitignore
!.nojekyll
!rio-preto-shopping/
!rio-preto-shopping/index.html
!rio-preto-shopping/assets/
!rio-preto-shopping/assets/**
!comunic/
!comunic/index.html
!comunic/assets/
!comunic/assets/**
!fabrica-landing-page/
!fabrica-landing-page/*.md
!bella-capri/
!bella-capri/index.html
!bella-capri/assets/
!bella-capri/assets/**
!alexakis/
!alexakis/index.html
!alexakis/assets/
!alexakis/assets/**
